*{
	padding: 0;
	margin: 0;
}
body{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://5oft15eu.unit4.com/binaries/content/gallery/unit4web/blog-images/00-friends.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.bare{
	width: 1170px;
	margin: 0 auto;
	text-align: center;
}
.logo{
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a{
	font-size: 40px;
	text-decoration: none;
	font-family: 'Abel', sans-serif;
	color: white;
	letter-spacing: 5px;
}
nav{
	float: right;
	line-height: 100px;
	text-decoration: none;
}
.item a{
	text-decoration: none;
	font-family: 'Abel', sans-serif;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 20px;
	color: white;

}
header{
	height: 80px;
	background: #154360;
	width: 100%;
	z-index: 12;
	position: fixed;
	top: -5px;
}
.login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}
.form{
	position: relative;
	z-index: 1;
	background: transparent;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	top: 50px;
}
.form input{
	font-family: "Robosto", sans-serif; 
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;

}
.form #andah{
	color: white;
	font-family: "Robosto",sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #154360;
	width: 100%;
	border: 0;
	padding: 15px;
	color: pointer;

}
.form #andah:hover,.form #andah:active{
	background: #1F618D;
}
.akhtar{
	width: 360px;
	padding: 11px;
	font-size: 17px;
	background-color: #f2f2f2;
}

.info{
	position: relative;
	z-index: 1;
	background: transparent;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	top: 50px;
}
.imfo p{
	font-family: "Robosto", sans-serif; 
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	padding: 90px;
}

.bb{
	text-align: center;
}
#andah{
	position: relative;
	top: 15px;
}
#fr{

}
.info{
	position:relative;
	background-color: #f2f2f2;
	left:0px;
	top:111px;
}
.ppp{
	font-size: 20px;
	position: relative;
	right: 150px;
	font-family: 'Abel', sans-serif;
	padding: 30px;
}
#next{
	font-size: 30px;
	width:120px;
	height: 50px;
	font-family: 'Abel', sans-serif;
	background-color: #154360;
	color: white;
	text-decoration: none;
}
#gh{
	height: 250px;
	border-radius: 100%;
	position: relative;
	top: -20px;
	width: 270px;
	padding: 50px;
}